* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic");
body {
  background: -webkit-gradient(linear, left top, right top, from(#155799), to(#159957));
  background: linear-gradient(to right, #155799, #159957);
}
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #111;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
#sidebarOverlay {
  position: fixed;
  padding-left: 50px;
  width: 80px;
  left: 0px;
  top: 0px;
  height: 100%;
  background-color: #111;
}
#TopNavbar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: #67b108;
}
.main-grid {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-grid .skin-cell {
  padding-left: 43.75rem;
  -ms-flex-preferred-size: calc(100% * 0.5 - 1.25rem);
      flex-basis: calc(100% * 0.5 - 1.25rem);
  min-width: 0;
  margin: 0.625rem;
  -ms-flex-preferred-size: calc(100% * 0.333333333333333 - 1.25rem);
      flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
  min-width: 0;
  margin: 0.625rem;
  font: 32px "Roboto", sans-serif;
  *zoom: 1;
}
.main-grid .skin-cell:before,
.main-grid .skin-cell:after {
  content: "";
  display: table;
}
.main-grid .skin-cell:after {
  clear: both;
}
@media screen and (min-width: 40rem) {
  .main-grid .skin-cell {
    -ms-flex-preferred-size: calc(100% * 0.5 - 1.25rem);
        flex-basis: calc(100% * 0.5 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
    padding-right: 12.5rem;
  }
}
.main-grid h2:first-letter {
  color: #67b108;
}
